
/* .active-user {
    background-color: #FDCACA !important;
}

.user-bal {
    background-color: #D1E1FA !important;
}

.depo {
    background-color: #D1FAE1;
}

.take {
    background-color: #FAF8D1;
} */
